.profile {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/eMdVo9.jpg);

    &__title {
        margin-top: 6rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 2rem;
        margin: 0 3.25rem;
    }

    &__create-join {
        margin-top: 3rem;
    }
    &__section {
        
    }
}














