
.newProject {

    display:flex;
    flex-direction: column;
    text-decoration:none;
    color:#000;
    background:#f0f8ff;
    border: 4px solid #C19A6B;
    display:block;
    height: 12rem;
    width: 18rem;
    margin: 0.5rem;
    float: left;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(33, 33, 33, 0.7);
    transition: transform .15s linear;
    overflow-wrap: break-word;
   
    &__form {
        font-size: 0.5rem;
        margin: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &:hover, &:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(2);
        font-size: x-small;
        cursor: pointer;
    }
    &__wrap {
        height:100%;
    }

    &__header {
        padding-top: 3rem;
        font-size: 2rem;

        &--form{
            padding-top: 1rem;
            font-size: 1.5rem;
        }
    }

    &__input {
        height: 2rem;
        width: 75%;
        margin: 1rem 0;
        background: rgba(255,255,255,0.8);
        border: 1px solid darkgrey; 
        text-align: center;

        &:focus {
            border: 1px solid #C19A6B;
            outline: none;
        }
    }

    &__btn {
        width: 25%;
        height:1.5rem;
        margin-bottom: 0.5rem;
    }

    

}
