
.joinProject {

    display:flex;
    flex-direction: column;
    text-decoration:none;
    color:#000;
    background:#f0f8ff;
    border: 4px solid #C19A6B;
    display:block;
    height: 12rem;
    width: 18rem;
    margin: 0.5rem;
    float: left;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(33, 33, 33, 0.7);
    transition: transform .15s linear;
    overflow-wrap: break-word;

    &:hover, &:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(2.5);
        font-size: x-small;
        cursor: pointer;
    }

    &__button {
        background: inherit;
        border: none;
        font-size: 2rem;
        font-weight: bold;
        margin: 1.5rem;
    }

    &__form {
        font-size: 0.5rem;
        margin: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    &__foo {
        width:1.5rem;
        height:1.5rem;
        margin: 0 0.5rem 1.75rem;
        box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.3);
    }
}

