.modalForm {

  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  

    &__body{
      width:36rem;
      height: 36rem;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: #ffc;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__heading {
      margin-top: 1.5rem;
    }
    
    &__input {
        width: 28rem;
        height: 2.25rem;
        text-align: center;
        font-size: 2rem;
        margin: 1rem;

        &--big {
          width:26rem;
          height:16rem;
          margin: 1rem;
          padding-left: 2rem;
          padding-top: 2rem;
          resize: none;
          font-size: 1.25rem;
        }
    }
    
    &__buttons {
        margin: 1rem;

        &--save {
          margin-right: 1rem;
        }
    }
};

