.mainPage {
  height:100%;
  width: 100vw;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #F0F8FF;
  padding: 0 2.25rem;
}
.divider {
	margin-top: 1rem;
	width: 0.5rem;
	border:  3px solid brown;
	border-top: none;
	border-bottom: none;
	
}


.addButton {
	background-color:#004992;
	border:none;
	border-radius:50%;
	position: fixed;
	bottom: 15%;
	right: 7%;
	display:inline-block;
	cursor:pointer;
	width:6rem;
	height: 6rem;
	text-decoration:none;

	&:focus {
		outline: none;
    }
}