.mainPage {
  height:98%;
  width: 98%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #F0F8FF;
}
.divider {
	margin-top: 1rem;
	width: 0.5rem;
	border:  3px solid brown;
	border-top: none;
	border-bottom: none;
	
}
.backButton {
	background: none;
	border: none;
	width:3rem;
	height:3rem;
	position: fixed;
	left: 1rem;
	top:3rem;
	z-index: 3;
}

.addButton {
	background-color:#004992;
	border:none;
	border-radius:50%;
	position: fixed;
	bottom: 15%;
	right: 50%;
	display:inline-block;
	cursor:pointer;
	width:6rem;
	height: 6rem;
	text-decoration:none;

	&:focus {
		outline: none;
    }
}