* {
    margin: 0; 
    padding: 0;
}

li {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    float: left;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(33, 33, 33, 0.7);
    transition: transform .15s linear;
    overflow-wrap: break-word;

    &:hover, &:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(1.5);
    }

    // &:active {
    //     transform: scale(4);
    //     font-size: 0.25rem;
    // }
}